{% extends 'mailing_app/base.html' %}
{% block content %}
<table class="table table-dark">
    <tbody>
    <tr>
        <td>ФИО: </td>
        <td>{{ object.fio }}</td>
    </tr>
        <tr>
        <td>Почта: </td>
        <td>{{ object.email }}</td>
    </tr>
        <tr>
        <td>Комментарий: </td>
        <td>{{ object.comment }}</td>
    </tr>

    </tbody>
</table>

<td><a class="p-2 btn btn-warning" href="{% url 'mailing_app:update_client' object.pk %}">обновить</a></td>
<td><a class="p-2 btn btn-danger" href="{% url 'mailing_app:delete_client' object.pk %}">удалить</a></td>
<td><a class="p-2 btn btn-info" href="{% url 'mailing_app:client_list' %}">назад</a></td>
{% endblock %}