{% extends 'mailing_app/base.html' %}
{% block content %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <br>
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <form method="post" class="form-floating" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{form.as_ul}}
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}